# processed with docker-gen
# docker inspect creglue

# Finds itself - not working for remote files!
{{ $CurrentContainer := where $ "ID" .Docker.CurrentContainerID | first }}

# Current Name : {{ $CurrentContainer.Name }}
# Current Image: {{ $CurrentContainer.Image }}
# Current Build: {{ $CurrentContainer.Labels.Build }}

# try finding by Name
{{ $NamedContainer := where $ "Name" "/creglue" | first }}

# Named Name : {{ $NamedContainer.Name }}
# Named Image: {{ $NamedContainer.Image }}
# Named Build: {{ $NamedContainer.Labels.Build }}




