#!/bin/bash
# Current Container Name : {{ $CurrentContainer.Name }}

exchange='cre.default'
binding=''
queue='cre.{{ $CurrentContainer.Name }}'
script=/cre/show-message.sh

while getopts e:b:q:d: flag
do
    case "${flag}" in
        e) exchange=${OPTARG};;
        b) binding=${OPTARG};;
        q) queue=${OPTARG};;
        d) script=${OPTARG};;
    esac
done	

if [ -z "$binding" ]
then
  binding=$queue
fi
																																																																																																		initQueue='{"exchange":"$exchange", "binding":"$binding", "queue":"$queue"}'

rabbitmqHost=''
{{ if $CurrentContainer.Env.RABBITMQ_QUEUE }}
 {{ range $rabbitmqServerPWD, $containers := groupByMulti $ "Env.RABBITMQ_ROOT_PWD" "," }}
  {{ range $index, $container := $containers }}
   {{ $rootPassword := or $container.Env.RABBITMQ_ROOT_PWD "_secret_" }}
   {{ $rabbitmqPort := or $container.Env.RABBITMQ_PORT "5672" }}
    rabbitmq_port='{{ $rabbitmqPort }}'
   {{ range $containerNetwork := $container.Networks }}
    rabbitmq_host='{{ $containerNetwork.IP }}'

   {{ if $CurrentContainer.Env.RABBITMQ_USER }}
   ## RABBITMQ_USER : {{ $CurrentContainer.Env.RABBITMQ_USER }}
   rabbit_user="{{ $CurrentContainer.Env.RABBITMQ_USER }}"
   {{ else }}
   ## NO USER: md5 of {{ $CurrentContainer.Env.RABBITMQ_QUEUE }}
   rabbit_user="U:$(printf '%s' '{{ $CurrentContainer.Env.RABBITMQ_QUEUE }}' | md5sum | cut -d ' ' -f 1)"
   rabbit_user="${rabbit_user:0:24}"
   {{ end }}
   {{ if $CurrentContainer.Env.RABBITMQ_PWD }}
   ## RABBITMQ_PWD : {{ $CurrentContainer.Env.RABBITMQ_PWD }}
   rabbit_pwd="{{ $CurrentContainer.Env.RABBITMQ_PWD }}"
   {{else}}
   rabbit_pwd="PWD:$(printf '%s' '$rabbit_user:{{sha1 $rootPassword}}' | md5sum | cut -d ' ' -f 1)"
   rabbit_pwd="${rabbit_pwd:0:32}"
   {{ end }}

   {{ end }}
  {{ end }} 
 {{ end }} 
{{ end }}

#amqp-publish --url=amqp://$rabbit_user:$rabbit_pwd@$rabbitmq_host:$rabbitmq_port -e "cre.swamp" -r "cre.horse" -b "$initQueue"
#sleep 1
amqp-consume --url=amqp://$rabbit_user:$rabbit_pwd@$rabbitmq_host:$rabbitmq_port -e "$exchange" -q "$queue" -r "$binding" -d $script

