# Current Name : {{ $CurrentContainer.Name }}
# PostgreSQL Client Authentication Configuration File
# ===================================================
# TYPE 	 DATABASE 	 USER 	 ADDRESS 	 METHOD
# Database administrative login by Unix domain socket
local 	 all 	 postgres 	 peer
{{ if $CurrentContainer.Env.CRE_SUBDOMAIN }}
host 	 all 	 postgres 	 all 	 md5
{{ end }}
{{ range $postgresDb, $containers := groupByMulti $ "Env.POSTGRES_DB" "," }}
## add db: {{ $postgresDb }}
{{ range $index, $container := $containers }}
{{ if $container.Env.POSTGRES_USER }}
host 	 {{ $postgresDb }} 	 {{ $container.Env.POSTGRES_USER }} 	 samenet 	 md5
{{ else }}
host 	 {{ $postgresDb }} 	 all 	 samenet 	 md5
{{ end }}
{{ end }} 
##end of all containers
{{ end }} 
##end of all databases

