#!/bin/bash 

# Current Name : {{ $CurrentContainer.Name }}
export TERM=xterm
echo "postgres add databases:"
POSTGRESQL_DATA=/var/lib/postgresql/${POSTGRES_VERSION}/main
POSTGRESQL_BIN=/usr/lib/postgresql/${POSTGRES_VERSION}/bin
sleep 5

until ${POSTGRESQL_BIN}/pg_isready -h localhost -p 5432 -U postgres
do
 echo "Waiting for local postgres"
 sleep 2;
done

touch /cre/database-busy.txt

{{ range $postgresDb, $containers := groupByMulti $ "Env.POSTGRES_DB" "," }}
##begin of all databases
## backup db: {{ $postgresDb }}

#check if database already exists?
if [ $(${POSTGRESQL_BIN}/psql -tAc "SELECT 1 FROM pg_database WHERE datname='{{$postgresDb}}'") ]; then
 echo "Database exists: {{ $postgresDb }}"
 if [ -e /cre/postgres/dumps/{{ $postgresDb }}/database.daily.dump ]
 then
   mv -f /cre/postgres/dumps/{{ $postgresDb }}/database.daily.dump /cre/postgres/dumps/{{ $postgresDb }}/database.backup.dump
 fi
 mkdir -p /cre/postgres/dumps/{{ $postgresDb }}
 pg_dump --no-privileges --no-owner -U postgres -f /cre/postgres/dumps/{{ $postgresDb }}/database.daily.dump {{ $postgresDb }}
 ## try compressed here:
 if [ -e /cre/postgres/dumps/{{ $postgresDb }}/database.daily.dump.zip ]
 then
   mv -f /cre/postgres/dumps/{{ $postgresDb }}/database.daily.dump.zip /cre/postgres/dumps/{{ $postgresDb }}/database.backup.dump.zip
 fi
 pg_dump --no-privileges --no-owner -U postgres -c -f /cre/postgres/dumps/{{ $postgresDb }}/database.daily.dump.zip {{ $postgresDb }} 
 ## end compressed

 ## optionally copy dumpfile to other server (daily -> update)

 ## later add reading of database.update.dump here 

else
 echo "Database missing: {{ $postgresDb }}"
fi

{{ end }} 
##end of all databases

rm -f /cre/database-busy.txt
echo "Database backup finished"
