# https://docs.spring.io/spring-boot/docs/2.0.x/reference/html/common-application-properties.html
# https://docs.spring.io/spring-boot/docs/current/reference/html/appendix-application-properties.html#mail-properties

#https://stackoverflow.com/questions/33263316/spring-boot-application-properties-extends-another-property-file
#spring.profiles=pgs,mail
spring.profiles.active=pgs,mail
spring.profiles.include=pgs,mail

debug=true 
# switch off cache during development
spring.thymeleaf.cache=false



