#!/bin/bash 

# Current Container Name : {{ $CurrentContainer.Name }}
# Glue Container Name : {{ $GlueContainer.Name }}

domain2='localhost'
{{ $domain := "localhost" }}
{{ range $creDomain, $containers := groupByMulti $ "Env.CRE_DOMAIN" "," }}
  {{ $domain := $creDomain }}
  domain2='{{$creDomain}}'
{{ end }} 

{{ $mailhubfile := or $CurrentContainer.Env.SECRET_MAIL_HUB "no_secret_file_given.txt"}}
mailhub=$(/cre/get-secret.sh {{ $mailhubfile }} "mail.$domain2")
{{ $authuserfile := or $CurrentContainer.Env.SECRET_MAIL_USER "no_secret_file_given.txt"}}
authuser=$(/cre/get-secret.sh {{ $authuserfile }} '')
{{ $authpassfile := or $CurrentContainer.Env.SECRET_MAIL_PWD "no_secret_file_given.txt"}}
authpass=$(/cre/get-secret.sh {{ $authpassfile }} '')


#root=postmaster
echo 'FromLineOverride=YES' > /etc/ssmtp/ssmtp.conf;

##Bei creMail:
##echo "mailhub=mail.$domain2:587" >> /etc/ssmtp/ssmtp.conf
##echo "hostname=$domain2" >> /etc/ssmtp/ssmtp.conf

## Use external mailhub
echo 'mailhub='$mailhub >> /etc/ssmtp/ssmtp.conf 
echo 'hostname='$domain2 >> /etc/ssmtp/ssmtp.conf 
{{ if (and (ne $authuserfile "") (ne $authpassfile "")) }}
if [ ! -z $authuser ]; then
 if [ ! -z $authpass ]; then
  echo 'AuthUser='$authuser >> /etc/ssmtp/ssmtp.conf  
  echo 'AuthPass='$authpass >> /etc/ssmtp/ssmtp.conf 
  #AuthMethod=LOGIN
 fi
fi
{{ end }}
echo 'AuthMethod=cram-md5' >> /etc/ssmtp/ssmtp.conf

echo 'UseTLS=YES' >> /etc/ssmtp/ssmtp.conf
echo 'UseSTARTTLS=YES' >> /etc/ssmtp/ssmtp.conf
echo 'rewriteDomain='$domain2 >> /etc/ssmtp/ssmtp.conf

#dont't let secrets show up in environment variables
unset mailhub
unset authuser
unset authpass

# https://blog.doenselmann.com/emails-automatisch-mit-ssmtp-versenden/
# /etc/ssmtp/revaliases
# root:alerts@yourdomain.com:smtp.yourdomain.com:587
# username:alerts@yourdomain.com:smtp.yourdomain.com:587
# https://wiki.archlinux.org/index.php/SSMTP   -> i.e. GMAIL

