#!/bin/sh 
{{ if (not (exists "/etc/letsencrypt/live/dhparam.pem")) }}
if ! [ -e /etc/letsencrypt/live/dhparam.pem ]
then
   openssl dhparam -out /etc/letsencrypt/live/dhparam.pem 4096
fi
{{ end }}


{{ $CurrentContainer := where $ "ID" .Docker.CurrentContainerID | first }}
{{ $CurrentDomain := or $CurrentContainer.Env.CRE_DOMAIN "localhost" }}

certbot --noninteractive --nginx --agree-tos -m mail@{{ $CurrentDomain }} --domains {{ $CurrentDomain }}

{{ range $subdomain, $containers := groupByMulti $ "Env.CRE_SUBDOMAIN" "," }}

{{ $subdomain := trim $subdomain }}
{{ $host := (printf "%s.%s" $subdomain $CurrentDomain) }}

# {{ $host }}
# for localhost create openssl self-signed

certbot --noninteractive --nginx --agree-tos -m mail@{{ $CurrentDomain }} --domains {{ $host }}

{{ end }}

# Finally reload nginx
#nginx -s reload