#!/bin/sh 
sleep 3

until [ $(pgrep nginx | wc -l)  > 0 ]
do
 echo "Waiting for nginx"
 sleep 2
done
sleep 2

# Current Container Name : {{ $CurrentContainer.Name }}
if ! [ -e /etc/letsencrypt/live ]
then
   mkdir /etc/letsencrypt/live
fi

## if ! [ -e /etc/letsencrypt/live/dhparam.pem ]
## then
##    openssl dhparam -out /etc/letsencrypt/live/dhparam.pem 4096
## fi

{{ $CurrentDomain := or $CurrentContainer.Env.CRE_DOMAIN "localhost" }}
{{ $LocalHost :=  or (hasSuffix "localhost" $CurrentDomain) (hasPrefix "localhost" $CurrentDomain) }}
## Localhost?: {{ $LocalHost }} ## 

# use --staging for development and during implementation - works not for localhost / use openssl instead
# staging does not work with Strict-Transport-Security - see proxy.tmpl
certbot --staging --noninteractive --nginx --agree-tos -m admion@{{ $CurrentDomain }} --domains {{ $CurrentDomain }}

{{ range $subdomain, $containers := groupByMulti $ "Env.CRE_SUBDOMAIN" "," }}

{{ $subdomain := trim $subdomain }}
{{ $host := (printf "%s.%s" $subdomain $CurrentDomain) }}

# {{ $host }}

# use --staging for development and during implementation - works not for localhost / use openssl instead
certbot --staging --noninteractive --nginx --agree-tos -m admin@{{ $CurrentDomain }} --domains {{ $host }}

{{ end }}

# Finally reload nginx
#nginx -s reload
