#!/bin/bash

#wait for rabbitmq
sleep 3
rabbitmqctl await_startup
sleep 2

#add admin first
{{ $rootPassword := or $CurrentContainer.Env.RABBITMQ_ROOT_PWD "_secret_" }}
rabbitmqctl add_user admin {{ $rootPassword }}
rabbitmqctl set_permissions admin ".*" ".*" ".*"
# rabbitmqctl set_permissions -p / admin ".*" ".*" ".*"
rabbitmqctl set_user_tags admin administrator
rabbitmqctl set_user_tags admin management

## for all queues
{{ range $rabbitQueue, $containers := groupByMulti $ "Env.RABBITMQ_QUEUE" "," }}

## add queue ??

{{ range $index, $container := $containers }}
## begin of all containers



## user: RABBITMQ_USER, RABBITMQ_PWD ?
{{ if $container.Env.RABBITMQ_USER }}
## RABBITMQ_USER : {{ $container.Env.RABBITMQ_USER }}
rabbit_user="{{ $container.Env.RABBITMQ_USER }}"
{{ else }}
## NO USER: md5 of {{ $container.Env.RABBITMQ_QUEUE }}
rabbit_user="U:$(printf '%s' '{{ $container.Env.RABBITMQ_QUEUE }}' | md5sum | cut -d ' ' -f 1)"
rabbit_user="${rabbit_user:0:24}"
{{ end }}
{{ if $container.Env.RABBITMQ_PWD }}
## RABBITMQ_PWD : {{ $container.Env.RABBITMQ_PWD }}
rabbit_pwd="{{ $container.Env.RABBITMQ_PWD }}"
{{else}}
rabbit_pwd="PWD:$(printf '%s' '$rabbit_user:{{sha1 $rootPassword}}' | md5sum | cut -d ' ' -f 1)"
rabbit_pwd="${rabbit_pwd:0:32}"
{{ end }}

rabbitmqctl add_user "$rabbit_user" "$rabbit_pwd"
rabbitmqctl set_permissions "$rabbit_user" ".*" ".*" ".*"

{{ end }} 
##end of all containers

{{ end }}
## end of all queues

#rabbitmqctl delete_user guest

